.full-height {
    height: 100vh;
}

.profile-img-hw {
    height: 300px;
    width: 300px;
}

.card-width {
    width: 20rem;
}

.connector {
    height: 80px;
    width: 7px;
    background-color: #666666;
    border-radius: 7px;
}

.contact-img {
    width: 80px;
    height: 80px;
}